---
import activities from "../data/activities.json";
import colaborators from "../data/collaborators.json";

const bgColors = ["bg-accent", "bg-secondary", "bg-primary"];
let rowsBgColors = bgColors.length;
let count = 0;
---

<section id="proxima_edicion" class="w-full h-auto border-x-8 border-black">
    <div class="w-full h-16 px-4 bg-black flex justify-between items-center">
        <span class="text-white text-2xl">+</span>
        <span class="text-white text-2xl">+</span>
        <span class="text-white text-2xl">+</span>
    </div>

    <div class="w-full h-auto flex flex-col xl:flex-row">
        <div
            class="w-full xl:w-1/4 border-black border-b-8 xl:border-b-0 xl:border-r-4 text-center flex flex-col justify-between items-center"
        >
            <div>
                <p
                    class="font-montserrat font-bold text-base md:text-lg my-2 xl:my-6"
                >
                    PROXIMA EDICION
                </p>

                <h4
                    class="font-impact text-7xl md:text-[120px] xl:text-[168px] date-text my-2 xl:my-6"
                >
                    17 NOV 24
                </h4>
            </div>

            <p
                class="font-montserrat font-bold text-base md:text-lg my-2 xl:my-6"
            >
                <span class="text-primary">TORRE ANDRADE,</span>
                LEON GUANAJUATO,
                <span class="text-secondary">MEXICO</span>
            </p>
        </div>

        <div class="w-full xl:w-3/4 border-black xl:border-l-4">
            <div class="flex justify-center items-center gap-3 pt-2">
                <span class="font-impact text-2xl md:text-7xl text-primary"
                    >DIA DE</span
                >
                <img
                    src="/images/logo.png"
                    alt="Logotipo de Banner Fever 2024 Edición Día de Muertos"
                    class="w-24 md:w-32 xl:w-52"
                />
                <span class="font-impact text-2xl md:text-7xl text-secondary"
                    >MUERTOS</span
                >
            </div>

            <p class="font-montserrat font-medium text-base xl:text-lg p-6">
                Después del gran recibimiento en su 1era edición, Banner Fever
                llega con una nueva entrega tomando como temática principal el <span
                    class="text-primary font-bold">Día de muertos</span
                >, festividad mexicana que rinde culto a nuestros difuntos.
            </p>

            <h5 class="font-montserrat font-bold text-2xl p-6">ACTIVIDADES</h5>

            <ul>
                {
                    activities.map((act) => {
                        const bgColorClass = bgColors[count];
                        count = (count + 1) % rowsBgColors;

                        return (
                            <li
                                class={`w-full ${bgColorClass} p-6 flex gap-4 fade-in`}
                            >
                                <img
                                    src={`/images/activities/${act.image}`}
                                    alt={`Icono para representar la actividad: ${act.title}`}
                                    class="w-16 md:w-36 h-auto object-contain hidden md:block"
                                />
                                <div class="w-full">
                                    <h5 class="font-montserrat font-semibold text-base md:text-xl">
                                        {act.title}
                                    </h5>
                                    <p class="font-montserrat font-medium text-sm md:text-lg">
                                        {act.description}
                                    </p>
                                    <span class="font-montserrat text-sm md:text-base">
                                        {act.date}
                                    </span>

                                    <h6 class="font-montserrat font-bold text-lg md:text-4xl text-right mt-4">
                                        {act.subtitle}
                                    </h6>
                                </div>
                            </li>
                        );
                    })
                }
            </ul>

            <h5 class="font-montserrat font-bold text-2xl mt-8 p-6">
                COLABORADORES
            </h5>

            <ul class="flex justify-center items-center gap-4">
                {
                    colaborators.map((colab) => {
                        return (
                            <li>
                                <a
                                    href={colab.link}
                                    target="_blank"
                                    title={`Conoce más sobre ${colab.name}`}
                                >
                                    <img
                                        src={`/images/collaborators/${colab.image}`}
                                        alt={`Logotipo de ${colab.name}`}
                                        class="w-32"
                                    />
                                </a>
                            </li>
                        );
                    })
                }
            </ul>

            <div class="w-full mt-16 border-black border-t-8">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.017271516501!2d-101.67265462470276!3d21.11187758491851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbf83982bc2d9%3A0x3a3632ca4d29a81f!2sTorre%20Andrade!5e0!3m2!1sfr!2smx!4v1724811031374!5m2!1sfr!2smx"
                    class="w-full"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                    title="Mapa del lugar del evento. Torre Andrade, León Guanajuato, México"
                >
                </iframe>
            </div>
        </div>
    </div>

    <div class="w-full h-16 px-4 bg-black flex justify-between items-center">
        <span class="text-white text-2xl">+</span>
        <span class="text-white text-2xl">+</span>
        <span class="text-white text-2xl">+</span>
    </div>
</section>

<style>
    @media only screen and (min-width: 1300px) {
        .date-text {
            transform: rotate(-180deg);
            writing-mode: vertical-lr;
        }
    }

    .fade-in {
        opacity: 0;
        transform: translateY(80px);
        transition:
            opacity 0.6s ease-out,
            transform 0.6s ease-out;
    }

    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }
</style>

<script>
    document.addEventListener("scroll", function () {
        const elements = document.querySelectorAll(".fade-in");
        const windowHeight = window.innerHeight;

        elements.forEach((element) => {
            const elementTop = element.getBoundingClientRect().top;

            if (elementTop < windowHeight - 50) {
                // El 50 es un margen para iniciar la animación un poco antes
                element.classList.add("visible");
            } else {
                element.classList.remove("visible");
            }
        });
    });
</script>
